{% extends "base.j2" %}
{% block title %}{{ index_name }}{% endblock %}
{% block content %}
    {% for page in index_posts %}
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
    {% endfor %}
{% endblock %}
