{% extends "base.j2" %}
{% block title %}{{ index_name }}{% endblock %}
{% block heading %}{% endblock %}
{% block content %}
    {% for page in index_posts %}
        <h3><a href="/{{ page.url }}">{{ page.title }}</a></h3>
        <div>{{ page.doc_preview }}</div>
        <div class="clearfix">
            <div class="float-end">
                <p><a href="/{{ page.url }}">Continue Reading &rarr;</a></p>
            </div>
        </div>
    {% endfor %}
    <ul class="pagination">
    {% if index_number %}
        <li class="page-item">
            {% if index_number > 1 %}
                <a href="/index{{ index_number - 1 }}.html" class="page-link">
                    <i class="bi bi-arrow-left-short"></i>
                    Previous
                </a>
            {% else %}
                <a href="/index.html" class="page-link">
                    <i class="bi bi-arrow-left-short"></i>
                    Previous
                </a>
            {% endif %}
        </li>
    {% endif %}
    {% if index_number < index_count - 1 %}
        <li class="page-item">
            <a href="/index{{ index_number + 1 }}.html" class="page-link">
                Next
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </li>
    {% endif %}
    </ul>
{% endblock %}
