{% extends "base.j2" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <p class="lead text-end">{{ settings["date"].strftime("%b %d, %Y") }}</p>
    {{ parts['fragment'] }}
    <br/>
    {% for tag in tags %}
        <a class="badge rounded-pill text-primary bg-dark" href="/{{ tag.url }}">{{ tag.name }}</a>
    {% endfor %}
{% endblock %}
